body{
    margin:0px;
    box-sizing: border-box;
    color: #333333;
    font-size:16px;
}

a{
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


.justify-center {
    justify-content: center;
}


.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.font-jp4{
    font-family: "Noto Sans JP 400";
}

.font-jp7{
    font-family: "Noto Sans JP 700";
}

