
.full-container{
    width: 100%;
}

#top-link{
    position: fixed; 
    top: 667px; 
    right: 37px; 
    z-index: 999; 
    cursor: pointer; 
}

/* -------------------------first---------------------------------------------*/

.first-para{
    height:760px;
    background-image: url("./../img/first-background.svg");
    background-position: center;
    background-size: cover;
}

.first-nav{
    width: 100%;
    height: 82px;
    margin-bottom: 0px;
    background-color: white;
}

#logo{
    width: 176px;
    height: 36px;
    margin-left: 48px;
    margin-top: 19px;
}

.right-nav{
    margin: 0px;
}

.nav-link{
    margin-right: -9px;
    padding-top: 29px;
    font-family: "Noto Sans JP 300";
}

.nav-link a span{
    font-size: 14px;
    padding-right: 64px;
    color: #333333;
}

#sign-up{
    margin-right: 41px;
    margin-top: 19px;
    border: #F13C68;
    width: 184px;
    height: 48px;
    background-color: #F13C68;
}

#sign-up span{
    color: white;
    width: 144px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.hamburger {
    display: none;
    z-index: 3;
}

.hamburger div {
    width: 36px;
    height: 3px;
    background-color: #333333;
    margin-top: 7px;
    transition: 0.4s;
}

.first-step{
    background-color: white;
    width: 296px;
    height: 63px;
    margin-left: 200px;
    margin-top: 436px;
}

.first-step-text{
    font-size: 36px;
    line-height: 49.03px;
    padding-left: 22px;
}

.seminar{
    background-color: #0FABB5;
    width: 790px;
    height: 96px;
    margin-top: 18px;
    margin-left: 200px;
}

.seminar-text{
    font-family: 'Noto Sans new';
    font-weight: 500;
    font-size: 54px;
    line-height: 73.55px;
    color: white;
    padding-left: 27px;
    width: 734px;
}

.seminar-text > span {
    font-family: 'Noto Sans';
    font-weight: 500;
}

.designer-tip{
    width: 100%;
    height: 186px;
}

.designer-tip p{
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    width: 438px;
}

.designer-tip p span { 
    color: #0FABB5;
}

#logo.hide{
    display: none;
}

/* -------------------------second ---------------------------------------------*/

.second-para{
    height: 472px;
    background-color: #E3FAFF;
    position: relative;
}

.triangle {
    position: absolute;
    bottom: -25px; /* Adjust this value to position the triangle correctly */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 25px solid #E3FAFF;/* Same color as the top section */
}

.second-container{
    width: 1037px;
    height: 360px;
}

#second-back{
    width: 370px;
}

.second-text{
    width: 667px;
    background: white;
}

.second-text-container{
    margin-left: 56px;
    margin-right: 73px;
}

.second-item{
    margin-bottom: 16px;
    height: 42px;
}

.second-item span{
    margin-left: 8.78px;
    line-height: 20.8px;
}

.second-item span span{
    font-family: "Inter";
    font-weight: 600;
    margin: 0px;
}

.second-para-text{
    height: 128px;
    background-color: #0FABB5;
    text-align: center;
 }

 .second-para-text span{
    margin-top: 51px;
    color:white;
    font-family: "Noto Sans JP 500";
    font-size: 24px;
    line-height: 32.69px;
    width: 419px;
 }

 .second-para-text span span{
    font-family: "Noto Sans new";
    font-weight: 600;
 }

/*---------------- third----------------------*/

.third-para{
    height: 629px;
}

.third-container{
    margin-top: 88px;
    width: 1020px;
    height: 463px;
}

.third-heading{
    margin-top: 10px;
}

.third-heading span{
    font-family: "Noto Sans JP 700";
    font-size: 24px;
    line-height: 32.69px;
}

.third-content{
    margin-top: 56px;
}

.rect{
    background-color: #0FABB5;
    width: 60px;
    height: 4px;
    margin-top: 16px;
}

#third-item-middle{
    margin-right: 60px;
    margin-left: 60px;
}

.part-heading{
    margin-top: 16px;
}

.part-heading span{
    line-height: 21.79px;
}

.part-content{
    margin-top: 16px;
}

.part-content span{
    font-size: 14px;
    line-height: 23.8px;
}

.third-para-text{
    height: 285px;
    background-image: url("./../img/anyone-background.svg");
    background-size: cover;
}

.third-para-text-container{
    width: 408px;
    height: 154px;
    margin-top: 65.5px;
}

.text{
    width: 408px;
    height: 82px;
    text-align: center;
}

.text span{
    font-size: 24px;
    line-height: 40.8px;
}

#apply{
    font-family: "Noto Sans JP 300";
    line-height: 16px;
    color: white;
    background-color: #F13C68;
    border: none;
    margin-top:24px;
    width: 276px;
    height: 48px;
}

#apply span{
    margin-left: 0px;
    text-align: center;
}

#email-image{
    transform: translateY(2px);
}

#apply img{
    height: 16px;
    width: 20px;
    margin-right: 2px;
}

/* -----------------------------       fourth ---------------------*/

.fourth-para{
    height: 1077px;
}

.fourth-container{
    margin-top: 88px;
}

.small-heading{
    margin-top: 0px;
    text-align: center;
}

.small-heading span{
    color:black;
    line-height: 21.79px;
    width:160px;
    height: 22px;
}

.big-heading{
    text-align: center;
}

.big-heading span{
    font-size: 24px;
    line-height: 32.69px;
    width: 96px;
    height: 33px;
}

.fourth-content{
    margin-top:56px;
}

.fourth-item{
    width: 1042px;
    height: 406px;
    border: #0FABB5 2px solid;
}

.fourth-item-container{
    width: 962px;
    height: 330px;
}

.fourth-item-image{
    width: 408px;
    height: 301px;
}

.fourth-item-content{
    margin-left: 48px;
    width: 442px;
    height: 330px;
}

.content-span-text span br{
    display: none;
}

#reverse{
    display: block;
}

.heading p{
    font-family: "Noto Sans JP 700";
    font-size: 24px;
    line-height: 38.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#second-fourth-item{
    margin-top: 38px;
}

.content-row{
    margin-top: 10px;
    align-items: center;
}

.content-text{
    margin-top: 22px;
}

.content-row-item{
    background-color: #0FABB5;
    color: white;
    font-family: "Noto Sans JP 300";
    line-height: 21.79px;
    width: 48px;
    height: 26px;
}

.content-row-text{
    margin-left: 10px;
    font-family: "Noto Sans JP 400";
    line-height: 21.79px;
}

.content-span-text span{
    font-family: "Noto Sans JP 400";
    line-height: 28.8px;
}

.content-span-text span span{
    font-family: "Inter";
    font-weight: 600;
}

/* ---------------------- fifth ----------------------------------*/

.fifth-para{
    height: 705px;
}

.fifth-container{
    width: 1044.98px;
    height: 516px;
}

.fifth-heading{
    text-align: center;
}

.fifth-heading span{
    font-family: "Noto Sans JP 700";
    font-size: 24px;
    line-height: 32.69px;
}

.fifth-content{
    margin-top: 63px;
    height: 400px;
    width: 100%;
}

.fifth-content-text-container{
    width: 445.98px;
}

.fifth-content-text{
    height: 128px;
    width: 100%;
}

#image-map{
    width: 600px;
    height: 400px;
}

.fifth-content-text-heading span{
    font-family: "Noto Sans JP 700";
    font-size: 22px;
    line-height: 29.96px;
}

.hide-row{
    display: none;
}

.fifth-content-row{
    font-family: "Noto Sans JP 400";
    line-height: 22px;
}

.fifth-content-text-rows{
    margin-top: 16px;
}

#third-fifth-content-row{
    margin-top: 16px;
}

/*--------------------------  sixth ---------------------------------*/

.sixth-para{
    background-color: #F5F5F5;
    padding-bottom: 106px;
}

.sixth-heading{
    margin-top: 88px;
    text-align: center;
}

.sixth-heading span{
    width: 168px;
    height: 33px;
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.69px;
}

.sixth-content{
    margin-top: 30px;
    width: 970.19px;
}

.faq-question{
    cursor: pointer;
    margin-top: 29px;
}

.faq-question-left span{
    font-family: "Noto Sans JP 400";
    line-height: 27.2px;
}

.faq-answer span{
    font-family: "Noto Sans JP 400";
    line-height: 27.2px;
    padding-right: 50px;
}

.faq-answer{
    display: none;
    margin-top: 15px;
}

.change-row{
    display: block;
    margin: 0px;
}

#third-faq-answer br{
    display: none   ;
}
.toggle-btn {
    width: 28.19px;
    height: 16.16px;
    border: none;
    background: url('./../img/subtract.svg') no-repeat center center;
    background-size: contain;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.toggle-btn.rotate {
    transform: rotate(0deg);
}

.faq-icon-q {
    width: 60px;
    height: 60px;
    background-color: #0FABB5;
    color: white;
    border-radius: 50%;
    margin-right: 30px;
    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 36px;
    flex-shrink: 0;
}

.faq-icon-a {
    width: 56px;
    height: 56px;
    background-color: #F5F5F5;
    border: #0FABB5 2px solid;
    color:#0FABB5;
    border-radius: 50%;
    margin-right: 30px;
    font-family: "Noto Sans JP 500";
    font-size: 36px;
    flex-shrink: 0;
}

.faq-line{
    width: 970px;
    height: 1px;
    background-color: #878787;
    margin-top: 24px;
}

/*------------------     last -----------------------------*/

.last-para{
    height: 88px;
    background-color: #0FABB5;
}

.last-para-text{
    text-align: center;
    margin-top: 36.65px;
}

.last-para-text span{
    width: 181px;
    font-family: "Noto Sans Serif";
    font-size: 12px;
    line-height: 17.38px;
    color:white;
}

